DB_HOST=host
DB_PORT=1234
DB_USER=user
DB_PASSWORD=password
DB_NAME=database
# JWT And OAuth2
SECRET_KEY=secret_long_key
ALGORITHM=algorithm_to_hash
ACCESS_TOKEN_EXPIRE_MINUTES=0
REFRESH_TOKEN_EXPIRE_DAYS=0
